.body_main{
    display: flex;
}
.main_left{
    height: 100%;
    width: 50%;
    padding-top: 5%;
    padding-left: 4%;
}
.main_right{
    height: 100%;
    width: 50%;
    padding-top: 5%;
    padding-left: 4%;
}
.main_left_top{
    height: 50%;
    width: 100%;
    padding-top: -5px;
}
.education{
    display: inline;
}
.education h4{
    width: 50%;
}
.education img{
    width: 10%;
}
.ul_education{
    
    border-left: #ff0000 solid 2px;
    padding-top: -5em;
}